@tailwind base;
@tailwind components;
@tailwind utilities;
.containerTable {
    width: 50vw;

}

.containerTable {
    width: 35vw;
}

.table {
    background: white;
}

.tableHeaderTitle {
    @apply py-4;
}

.tableHeaderData {
    @apply py-3;
}

